body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.container {
    align-self: center;
}
.resposta {
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 35%;
    background-color: beige;
    margin-left: 25%;
}
.botao {
    border: 1px solid #000;
    border-radius: 35%;
    width: 100px;
    height: 30px; 
    background-color: coral;
    margin-right: 25%;
}
.botao h4 {
    padding: 100%;
}